{% extends 'base.html' %}
{% block title %}Reset Email Sent{% endblock %}

{% block extra_head %}
<style>
    /* Gradient styles for headings and buttons */
    .text-gradient {
        background: linear-gradient(to right, #141414, #525252);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .bg-gradient {
        background: linear-gradient(to right, #141414, #525252);
    }
</style>
{% endblock %}

{% block content %}
<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="max-w-md mx-auto bg-white shadow-md rounded-lg overflow-hidden m-10 p-8">
        <h2 class="text-3xl font-bold text-gradient text-center mb-4">
            Check Your Email
        </h2>
        <p class="text-gray-600 text-center">
            If an account exists with the email you supplied, you will receive password reset instructions.
        </p>
    </div>
</div>
{% endblock %}